@import 'bourbon/bourbon';
@import 'base/reset';

@import 'abstracts/variables/colors';
@import 'abstracts/variables/fonts';
@import 'abstracts/variables/widths';
@import 'components/header';
@import 'components/main';
@import 'components/logo';


body {
  background-color: $primary-color;
  font-family: $main;
  width: 100%;
}

header,
main,
footer {
  width: $desktop-width;
  margin: 0 auto;
}

#news,
#community {
  margin-left: 28px;
}

.logo-icon {
  width: $little-icon-width;
  margin-left: 30px;
}

footer {
  clear: both;
}
